<!DOCTYPE html>
<html lang="en">
<head><title>Uploader</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
  
</head>
<body>
  <header class="font-monospace mx-5 mt-5 text-center">
    <h1 class="py-3 my-0" >Show time</h1>
  </header>
  <main class="mx-5 text-center">
    <article class="px-4 py-5">
      <!-- upload file  -->
      <section class="section-one">

         <!-- upload button  -->
        <form id="par_form" class="d-inline-flex">
           
          <span id="indicator"></span><br>
          <button value="Unload">Unload</button>
          <div class="image-upload">
            <label for="file " class="border-danger lead mx-4 spinner-border text-light">
              <i class="fa fa-eye"></i>

            </label>

            <input id="file " type="file" />
          </div>
        </form>

        <!-- icon -->
         
          



        <!-- drag and drop  -->
        <div class="upload-area" id="uploadfile">
          <h1> Click to select file</h1>
        </div>
         
        
         
      </section>
      <!-- progress-bar  -->
      <section class="section-two">
        <div class="progress-container">
          <div class="progress"></div>
        </div>
      </section>
    </article>
  </main>
  <script src="./lib/jquery.min.js"></script>
  <script src="./uploader.js"></script>


   <!-- upload btn  -->
  <!-- <script type="text/javascript">
    function upl() {
      var fileSelector = document.createElement('input');
      fileSelector.setAttribute('type', 'file');
      fileSelector.setAttribute('name', 'uploimg');
       
      fileSelector.click();
      fileSelector.style.display = "none";

      fileSelector.onchange = function () {
        document.getElementById("indicator").innerHTML = "Uploaded";
      };

      document.getElementById("par_form").appendChild(fileSelector);

    } -->
  </script>
</body>
</html>