<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>upload file</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="container">
    <!-- upload file  -->
    
     <input type="file" id="file" name="file"  >  
     <img src="#" alt="img" id="image"> 
    <!-- the end -->



    
     
  </div>
  






  <script src="./lib/jquery.min.js"></script>
  <script src="../main.js"></script>
  <script src="../upload-file/app.js"></script>

</body>
</html>